body {
  height: 100vh;
  width: 100vh;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.game-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.board:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.winner {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  transition: 0.5s;
}

.winner.display {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 1;
}
.winner-message {
  color: white;
  font-size: 50px;
}

.insta {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  background-image: url("insta.png");
  background-size: contain;
}

a {
  padding-bottom: 1px;
  text-decoration: none;
  color: black;
  border-bottom: dotted black 1.5px;
}

button {
  margin: 10px;
  padding: 5px 15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: black;
  color: white;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  perspective: 1000px;
}

.card {
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.2s;
  backface-visibility: hidden;
}

.card:active {
  transform: scale(0.9);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  pointer-events: none;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card__front {
  transform: rotateY(180deg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid lightgrey;
  z-index: 10;
  transition: all 0.5 ease;
}

.card__back {
  transform: rotateY(0deg);
  background-color: rgb(26, 26, 26);
}
